:root {
	margin: 0;
	font-size: 20px;
	font-family: "Manrope", sans-serif;
	--fancy-font: "Lemonada", serif;
	--primary: #162447;
	--secondary: #1f4068;
	--third: #1b1b2f;
	--accent: #e43f5a;
	--transluscent: #f5f5f5ad;
}
body {
	background: var(--secondary);
}
input {
	color: whitesmoke !important;
}
label {
	color: lightgray !important;
}
header {
	border-radius: 0.25rem 0.25rem 0 0;
	text-align: center;
	background-color: var(--accent);
	padding: 1rem;
}
header h1 {
	font-family: var(--fancy-font);
	margin: 0;
	font-size: 3rem;
}
@media screen and (max-width: 992px) {
	:root {
		font-size: 16px;
	}
}
