:root {
	margin: 0;
	font-size: 20px;
	font-family: "Manrope", sans-serif;
	height: 100vh;
	--fancy-font: "Lemonada", serif;
	--primary: #ffb6b6;
	--secondary: #fde2e2;
	--third: #aacfcf;
	--fourth: #679b9b;
	--transluscent: #f5f5f5ad;
}
