.collection .collection-item {
	/* background-color: var(--transluscent); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	padding: 1rem;
}
.collection {
	box-shadow: 0 0 1rem 0.5rem #00000052;
}

.collection-item button {
	display: flex;
	justify-content: center;
}

select.browser-default {
	background: rgba(255, 255, 255, 0.096);
	color: white;
	border: 1px solid var(--secondary);
	border-radius: 0.25rem;
}
option {
	background: transparent;
	color: black;
}
main .row .col {
	margin: 0;
	padding: 0;
}

li div p {
	margin-bottom: 0;
}

li form {
	padding: 0;
	width: 100%;
}
li form input,
li form input::placeholder {
	color: black;
}
