nav {
	background: $primary !important;
}
.brand-logo {
	font-family: $fancyFont;
}

#logo-desktop {
	display: none;
}

@media screen and (min-width: 992px) {
	#logo-mobile {
		display: none;
	}
	#logo-desktop {
		display: block;
	}
}
